<h2 class="widget_title"><%= t '.widget_title' %></h2>
<div class="challenge_box">
  <%= label_tag 'terms_checkbox' do %>
    <%= t '.super_terms_html', cronuts_url: @cronuts_url, donuts_url: @donuts_url %>
  <% end %>
  <%= check_box_tag 'terms_checkbox' %>
</div>
